modules = ["web", "nodejs-20"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Install Packages"
mode = "sequential"
author = 39854585

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow]]
name = "Run"
author = 39854585

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 8080
externalPort = 80
