modules = ["web", "nodejs-20", "postgresql-16"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npx serve dist"]
build = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Install Packages"
mode = "sequential"
author = 39854585

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow]]
name = "Run"
author = 39854585

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Dev"
author = 39854585

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 8080
externalPort = 80
